

<script>
  function loggedIn() {
    console.log('Logged in');
    var button = document.getElementById('fb-login-button');
    var review = document.getElementById('review');
    button.style.display = 'none';
    // review.style.display = 'block';
    window.location = '/ratings?name=' + getParameterByName('name');;
  }

  function checkLoginState() {
    console.log('checkLoginState');
    var loginHack = localStorage.getItem('loginHack');
    if (loginHack === 'true') {
      return loggedIn();
    }

    FB.getLoginStatus(function(response) {
      console.log(response);
      if (response.status === 'connected') {
        loggedIn();
      } else {
        console.log('Not logged in');
      }
    });
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '2004935749725128',
      cookie     : true,
      xfbml      : true,
      version    : 'v1.0'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

   setTimeout(checkLoginState, 500);

  function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
       results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }


</script>

<h1 id="title"></h1>
<fb:login-button
  id="fb-login-button"
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button>

<div id="review" style="display:none">
  <label>Enter your review</label>
  <input type="text"></input>
</div>

<script>
var name = getParameterByName('name');
var title = document.getElementById('title');
title.innerText = name;
</script>
