







</div>
 <br>
 Details: <%= rating_for tour, 'details', star_path: '/images/ratyrate', star: 5, disabled: true, half_show: true %>
 Coolness: <%= rating_for tour, 'coolness', star_path: '/images/ratyrate', star: 5, disabled: true, half_show: true %>
</div>
